.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destination-item {
  width: 100%;
}

.destination-item .img-item {
  width: 100%;
  height: 368px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.destination-item.tokyo .img-item {
  background-image: url(../img/tokyo-mobile.jpg);
}

.destination-item.osaka .img-item {
  background-image: url(../img/osaka-mobile.jpg);
}

.destination-item header h3 {
  margin: 24px 0;
}

.destination-item p {
  margin-bottom: 24px;
}

.destination-item .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destination-item .img-item {
    height: 452px;
  }

  .destination-item.tokyo .img-item {
    background-image: url(../img/tokyo-tablet-desk.jpg);
  }

  .destination-item.osaka .img-item {
    background-image: url(../img/osaka-tablet-desk.jpg);
  }

  .destination-item .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destination-item .img-item {
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destination-items {
    flex-direction: row;
  }
}