@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(destinations.css);
@import url(payments.css);
@import url(testimonials.css);
@import url(footer.css);

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --brackgroud-primary-color: #ffffff;
    --brackgroud-secondary-color: #f5f5f5;
    --brackgroud-tertiary-color: #0000;

    --butoon-primary-color: #8F0101;
    --butoon-secondary-color: #BB1515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menutext-weight: 500;
}

/* CSS RESET */ 
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}